<!DOCTYPE html>
<html>
<head>
    <title><%= About %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include template/header.ejs %>
    <h1><%= About %></h1>
    <p>Welcome to Mohit world!</p>
</body>
</html>
